$width:320px,360px,375px,412px,414px;

html{
    font-size: 100px;
}
body{
    font-size: 16px;
    padding: 0 0.3rem;
    background-image: url(../img/bg2.jpg);
    background-position: center;
//  background-size: 100%;
    
}
@each $w in $width{
    @media screen and (min-width: $w){
        html{
            font-size: 100px*$w/750px;
        }
    }
}
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin left-right{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.ding{
    width: 100%;
    height: 1.2rem;
    background-image: url(../img/mu.jpg);
    position: relative;
    border-radius: 30px;
    top: 0.1rem;
}
.tou{
    width: 25%;
    height: 0.8rem;
    background: saddlebrown;
    border-radius: 20px;
    @include left-right;
    @include top-bottom;
    text-align: center;
    line-height: 0.8rem;
    color: white;
}
.cd{
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    @include top-bottom;
    color: white;
    left: 0.2rem;
}
.tj{
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    @include top-bottom;
    color: white;
    right: 0.4rem;
}
.top{
    width: 75%;
    height: 3rem;
    background: white;
    @include left-right;
    top: 4rem;
    margin-bottom: 0.2rem;
    z-index: 99999;
    display: none;
    border-radius: 20px;
    .zjyg{
        width: 100%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        @include left-right;
        background: #C0C0C0;
        border-radius: 10px;
    }
    .qx{
        width: 0.5rem;
        height: 0.5rem;
        background: red;
        color: white;
        border-radius: 50%;
        position: absolute;
        right: 0.3rem;
        top: 0.2rem;
        text-align: center;
//      line-height: 0.5rem;
    }
    input{
        display: block;
        width: 90%;
        height: 0.8rem;
        border-bottom: 2px solid silver;
        @include top-bottom
        @include left-right;
        background: #A7DBF7;
        outline: none;
    }
    .tianjia{
        width: 80%;
        height: 0.7rem;
        background: red;
        border-radius: 10px;
        line-height: 0.7rem;
        text-align: center;
        @include left-right;
        bottom: 0.1rem;
        font-size: 20px;
        color: white;
    }
}
.xuanze{
    width: 75%;
    height: 3.2rem;
    background: white;
    @include left-right;
    top: 4rem;
    margin-bottom: 0.2rem;
    z-index: 99999;
//  display: none;
    border-radius: 20px;
    display: none;
    div{
        width: 50%;
        height: 0.8rem;
        float: left;
        margin-top: 0.3rem;
        border-radius: 10px;
        text-align: center;
        line-height: 0.8rem;
        color: white;
    }
}
.xuanze1{
    background: seagreen;
}
.xuanze2{
    background: #E54017;
}
.xuanze3{
    background: #0F39AA;
}
.xuanze4{
    background: #05A7ED;
}
.quxiao{
    width: 80%;
    height: 0.7rem;
    @include left-right;
    bottom: 0.1rem;
    background: red;
}
.shixiang{
    width: 100%;
    height: 8.2rem;
    position: relative;
    top: 1.2rem;
    overflow: scroll;
    .ton{
        width: 100%;
        height: 1rem;
        background: #83A0EA;
        border-radius: 20px;
        margin-bottom: 0.2rem;
        position: relative;
        .con{
            height: 1rem;
            line-height: 1rem;
            margin-left: 0.2rem;
            color: white;
            font-size: 18px;
        }
        .son{
            width:0.6rem;
            height: 0.6rem;
            line-height: 0.6rem;
            text-align: center;
            font-size: 20px;
            color: white;
            border-radius: 50%;
            background: #F50D2C;
            @include top-bottom
            right: 0.1rem;
            display: none;
        }
    }
    .don{
        width: 100%;
        height: 1rem;
        background: rgba(0,191,255,0.5);
        border-radius: 20px;
        margin-bottom: 0.2rem;
        position: relative;
        .con{
            height: 1rem;
            line-height: 1rem;
            margin-left: 0.2rem;
            color: white;
            font-size: 18px;
            text-decoration: line-through;
            
        }
        .son{
            width:1.2rem;
            height: 80%;
            text-align: center;
            line-height: 0.8rem;
            font-size: 16px;
            color: white;
            border-radius: 15px;
            background: #F50D2C;
            @include top-bottom
            right:0.1rem;
        }
    }
//  .ton1{
//      background: seagreen;
//  }
//  .ton2{
//      background: #E54017;
//  }
//  .ton3{
//      background: #0F39AA;
//  }
//  .ton4{
//      background: #05A7ED;
//  }
}

.foo{
    width: 100%;
    height: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    div{
        width: 33.333%;
        height: 1rem;
        float: left;
        background: #089B93;
        line-height: 1rem;
        text-align: center;
        border-radius: 50px;
    }
    .acc{
        width: 33.333%;
        height: 1rem;
        float: left;
        color: white;
        background: #E84017;
        line-height: 1rem;
        text-align: center;
        border-radius: 50px;
    }
}

@keyframes san{
    from{
        height: 1rem;
        opacity: 1;
    }
    to{
       height: 0;
       opacity: 0;
    }
}
@keyframes sans{
    from{
       width: 0;
       opacity: 0;
    }
    to{
       width: 1.2rem;
       opacity: 1;
    }
}
.sons{
    animation: san 0.8s linear forwards;
}
.sans{
    animation: sans 0.8s linear forwards;
}
.qc{
    width: 2.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background: #55F0B4;
    border-radius: 10px;
    @include left-right;
    bottom: 2rem;
}
